*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#calculator{
    border: 1px solid rgb(189, 189, 189);
    border-radius: 5px;
    width: 300px;
    margin: 10px 0 0 20px;
}

#display{
    margin: 10px;
    width: 93%;
    font-size: 50px;
}

.buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn{
    height: 70px;
    width: 70px;
    margin: 7px;
}

